.afk-login{
  .afk-login-logo{
    text-align: center;
  }
  .ant-modal-content{
    padding: 54px 30px 47px 30px;
    background:#FAF4ED;
  }
  .login-input{
    height: 50px;
    border: 0;
  }
  .forget-password{
    color: #947954;
    font-size: 14px;
    font-weight: 500;
    margin-top: -20px;
  }
  .form-login{
    margin-top: 35px;
    .form-login-btn{
      width: 100%;
      height: 50px;
      background: #745B3F;
      &:hover{
        background: #745B3F;
      }
    }
  }
  .sign-up{
    color: #947954;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
  }
}