.afk-like-save{
  display: flex;
  .afk-like-save-item{
    font-size: 14px;
    color: #745B3F;
    margin-right: 20px;
    cursor: pointer;
    svg{
      font-size: 16px;
      color: #745B3F;
      vertical-align: -3px;
      margin-right: 3px;
    }
    &.transform-1{
      svg{
        transform:rotate(-45deg);
      }
    }
  }
}