.afk-like-wrap{
  width: 100%;
  .afk-like-save{
    display: flex;
    .afk-like-save-item{
      font-size: 14px;
      color: var(--topicCommentTopColor);
      margin-right: 20px;
      text-align: center;
      cursor: pointer;
      p{
        padding: 5px 0;
        font-size: 12px;
      }
      svg{
        font-size: 16px;
        color: var(--topicCommentTopColor);
        vertical-align: -3px;
        margin-right: 3px;
      }
      &.transform-1{
        svg{
          transform:rotate(-45deg);
        }
      }
    }
  }
  .afk-like-input{
    margin: 15px 0;
    .afk-like-input-area{
      width: 100%;
      .ant-input{
        box-shadow: none;
        color: var(--navPlaceholderColor);
        background: var(--navInputBgColor);
        border:1px  var(--commentBorderColor) solid;
        &:hover{
          border:1px var(--commentBorderColor) solid;
          box-shadow: none;
        }
      }
    }
    .afk-like-input-btn{
      margin: 15px 0;
      text-align: right;
      .afk-like-cancel-btn{
        margin-right: 10px;
        background: none;
        border: 1px solid var(--cancelBtnFontColor);
        color:var(--cancelBtnFontColor);
        &:hover{
          box-shadow: none;
          border: 1px solid var(--cancelBtnFontColor);
          color:var(--cancelBtnFontColor);
        }
      }
      .ant-btn-primary{
        // background: #745B3F;
        background: var(--tabActiveBgColor);
        color: var(--tabActiveColor);
      }
    }
  }
}