.afk-notfund{
  text-align: center;
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  .afk-notfund-main{
    .afk-notfund-main-icon{

    }
    .afk-notfund-main-num{
      font-size: 20px;
      font-weight: 700;
      color: #3B2917;
      padding: 20px;
    }
    .afk-notfund-main-desc{
      color: #3B2917;
      font-size: 18px;
      font-weight: 500;
    }
    .afk-notfund-main-home{
      width: 226px;
      height: 40px; 
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      background: #745B3F;
      color: #fff;
      margin: 40px auto;
      cursor: pointer;
    }
  }
}