.afk-forgot-email{
  font-family: DM Sans;
  width: 520px;
  margin: 0 auto;
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  .forgot-email-main{
    text-align: center;
    .forgot-email-main-title{
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      color: #3B2917;
      margin-bottom: 48px;
    }
    .forgot-email-main-desc,.forgot-email-main-formtitle{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: #745B3F;
    }
    .text-l{
      margin-top: 70px;
      text-align: left;
    }
    .forgot-email-main-input{
      margin-top: 16px;
      .login-input{
        border-radius: 5px;
        border: 0;
        height: 50px;
        line-height: 50px;
        &:hover,&:focus{
          border: 0;
          box-shadow: none;
        }
      }
    }
    .forgot-email-main-btn{
      margin-top: 47px;
      .send-email-btn{
        width: 226px;
        height: 40px;
        background: #745B3F;
        text-transform: none !important;
      }
    }
  }
}