@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRR232RmYJp8I5zzw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW32RmYJp8I5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@theme-light-c3:#333;
@white: #FFFFFF;
@theme: #FAF4ED;
@dark:#3B2917;
@black: #0E0905;
@black1: #150F09;
@theme-dark: #DBB98F;
@theme-dark1:#828282;
@theme-dark2:#BDBDBD;
@theme-dark3: #745B3F;
@theme-dark4:#4F4F4F;
@theme-dark5: #EEDFC9;
@theme-dark6:#947954;
@theme-dark7:#E0E0E0;
@warning-red:#96351E;
@light: #947954;
@theme-dark8: #140F0A;
@font-color:#333333;
@font-white:#F2F2F2;
@border-gray:#E9E9E9;
@light-d9:#D9D9D9;
@theme-dark-red:#D95F42;

body{
  font-family: DM Sans;
  color: @dark;
  // user-select: none; // 禁用文字选中
  min-width: 1080px;
}
img {
  -webkit-user-drag: none; //禁用图片拖动
}
.demo-logo-vertical{
  height: 32px;
  margin: 15px;
  background: #ccc;
}

.theme-light{
  --bgColor: @theme; // 背景色
  --navBgColor:@theme-dark; //导航背景
  --navColor:@dark; //导航标题颜色
  --navPlaceholderColor:@theme-dark1;
  --navSearchIconColor:@theme-dark3;
  --navSearchOptionColor:@font-color;
  --navInputBgColor:@white;
  --navRightBgColor:@theme;
  --fontColor: @dark;
  --descColor: @theme-dark1;
  --jumpBgColor: @white;
  --tabBgColor: @theme-dark5;
  --tabActiveBgColor: @theme-dark3;
  --tabColor: @dark;
  --tabActiveColor: @theme;
  --sidebarColor:@white;
  --sidebarBgColor:@theme-dark5;
  --submitBtnColor: @white;
  --formInputColor:@theme-dark4;
  --forumTitleColor:@theme-dark6;
  --forumFontColor:@dark;
  --forumDescColor:@theme-dark4;
  --forumBtnBgColor:@theme-dark;
  --forumGuidesThColor:@theme-dark;
  --forumGuidesListBgColor:@white;
  --forumCreatorFontColor:@theme-dark3;
  --paginationDisabledFontColor:@theme-dark2;
  --paginationDisabledFontColor:@theme-dark2;
  --loginBgColor:@theme;
  --topicTag:@white;
  --topicTagBgColor:@theme-dark3;
  --topicTitle: @dark;
  --topicMainTitle:@light;
  --topicCommentTopBgColor:@theme-dark5;
  --topicCommentTopColor:@theme-dark3;
  --topicCommentBgColor:@white;
  --topicCommentColor:@font-color;
  --topicBorderLeft:@theme-dark5;
  --footBgColor:@theme-dark;
  --footLFontColor:@theme-dark3;
  --footMenuFontColor:@dark;
  --footerShareBgColor: @theme;
  --homeMore:@theme-dark3;
  --homeTabsActive:@black;
  --homeTabsColor:@theme-dark3;
  --loginDescColor:@theme-dark6;
  --loginFontColor:@white;
  --loginCloseBtn:@warning-red;
  --searchResultBorder:@border-gray;
  --cancelBtnFontColor:@theme-dark3;
  --commentColor:@white;
  --commentBorderColor:@light-d9;
  --verifySuccessIconColor:@white;
  --newsNavBgColor:@theme-dark5;
  --newsNavColor:@dark;
  --newsNavRightColor: @theme-dark3;
  --newsContentBgColor: @white;
  --newsContentTitleColor: @dark;
  --newsContentDescColor: @theme-light-c3;
  --newsDateColor: @theme-dark3;
  --newsAuthorColor: @warning-red;
  --newsItemBorderColor:@theme-dark5;
  --notificationsColor:@dark;
  --notificationsBgColor:@white;
  --notificationsBorderColor:@theme-dark5;
  --notificationsPopupBgColor:@white;
  --notificationsTitleColor:@black;
  --notificationsUserColor:@theme-dark3;
  --notificationsCenterColor:@theme-dark1;
  --notificationsMarkColor:@theme-dark6;
}
 
.theme-dark{
  --bgColor:@black;
  --navBgColor:@dark;
  --navColor: @white; 
  --navPlaceholderColor:@theme-dark2;
  --navSearchIconColor:@theme-dark;
  --navSearchOptionColor:@theme;
  --navInputBgColor:@theme-dark3;
  --navRightBgColor:@theme-dark;
  --fontColor: @white;
  --descColor: @theme-dark2;
  --jumpBgColor: @dark;
  --tabBgColor: @theme-dark3;
  --tabActiveBgColor: @theme-dark;
  --tabColor: @theme;
  --tabActiveColor: @dark;
  --sidebarColor:@theme-dark3;
  --sidebarBgColor:@black1;
  --submitBtnColor: @dark;
  --formInputColor:@theme-dark2;
  --forumTitleColor:@theme-dark;
  --forumFontColor:@white;
  --forumDescColor:@theme-dark7;
  --forumBtnBgColor:@theme-dark6;
  --forumGuidesThColor:@theme-dark3;
  --forumGuidesListBgColor:@black;
  --forumCreatorFontColor:@theme-dark5;
  --paginationDisabledFontColor:@theme-dark1;
  --topicTag:@dark;
  --topicTagBgColor:@theme-dark;
  --topicTitle: @white;
  --topicMainTitle:@theme-dark;
  --topicCommentTopBgColor:@dark;
  --topicCommentTopColor:@theme-dark;
  --topicCommentBgColor:@theme-dark8;
  --topicCommentColor:@font-white;
  --topicBorderLeft:@dark;
  --footBgColor:@dark;
  --footLFontColor:@theme-dark;
  --footMenuFontColor:@theme;
  --footerShareBgColor: @theme-dark;
  --homeMore:@theme-dark5;
  --homeTabsActive:@white;
  --homeTabsColor:@theme-dark5;
  --loginDescColor:@theme-dark;
  --loginFontColor:@dark;
  --loginCloseBtn:@warning-red;
  --searchResultBorder:@theme-dark3;
  --cancelBtnFontColor:@theme-dark3;
  --commentColor:@theme-dark3;
  --commentBorderColor:@theme-dark3;
  --verifySuccessIconColor:@black;
  --newsNavBgColor:@dark;
  --newsNavColor:@theme-dark;
  --newsContentBgColor: @black;
  --newsNavRightColor: @theme-dark;
  --newsContentTitleColor: @white;
  --newsContentDescColor: @font-white;
  --newsDateColor: @theme-dark;
  --newsAuthorColor: @theme-dark-red;
  --newsItemBorderColor:@dark;
  --notificationsColor:@theme;
  --notificationsBgColor:@dark;
  --notificationsBorderColor:@theme-dark3;
  --notificationsPopupBgColor:@theme-dark8;
  --notificationsTitleColor:@white;
  --notificationsUserColor:@theme-dark5;
  --notificationsCenterColor:@theme-dark7;
  --notificationsMarkColor:@theme-dark;
}  


.App{
  background: var(--bgColor);
  transition: 0.3s;
}

.mt20{
  margin-top: 20px;
}

.w240{
  width: 240px!important;
}
.w218{
  width: 218px!important;
}
.custome-btn{
  width: 177px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  background: #745B3F!important;
  text-transform: none !important;
}
.default-btn{
  width: 221px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  font-size: 20px!important;
  font-weight: 700!important;
  color: var(--submitBtnColor)!important;
  background: var(--tabActiveBgColor)!important;
  text-transform: none !important;
}

.s-btn{
  width: 100px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px!important;
  font-weight: normal;
  color: var(--submitBtnColor)!important;
  background: var(--tabActiveBgColor)!important;
  text-transform: none !important;
}

.c-btn{
  width: 100px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px!important;
  font-weight: normal;
  border:1px solid var(--tabActiveBgColor)!important;
  color: var(--tabActiveBgColor)!important;
  text-transform: none !important;
}

.tabs-tags{
  .tabs-tags-tag{
    display: inline-block;
    border-radius: 5px;
    background: #EEDFC9;
    width: 104px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-right: 10px;
    color: var(--tabColor);
    cursor: pointer;
    &.active, &:hover{
      background: #745B3F;
      color: #fff;
    }
  }
}

.hot-games{
  margin-top: 30px;
  ul{
    display: flex;
    gap:10px;
    align-content:space-between;
    li{
      border-radius: 10px;
      overflow: hidden;
      &:nth-child(3n){
        margin-right: 0!important;
      }
    }
  }
}
.afk-logout-confirm{
  .MuiPaper-root{
    padding: 20px 10px 20px 10px;
  } 
}

.ant-divider-inner-text{
  color: var(--forumFontColor);
}
.ant-divider-with-text::before, .ant-divider-with-text::after{
  border-block-start-color: var(--searchResultBorder)!important
}
.afk-back-top{
  position: fixed; 
  right:0;
  bottom: 50px;
  color: #FFF;
}
.form-password-tips{
  margin: -10px 0;
  .form-password-tips-item{
    display: flex;
    align-items: center;
    color: #ccc;
    span{
      margin-left: 5px;
    }
  }
}
.mt40{
  margin-top: 40px;
}