.afk-recommend{
  display: flex;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  .afk-recommend-left{
    width: 400px;
    height: 300px;
    background: var(--jumpBgColor);
  }
  .afk-recommend-right{
    flex:1;
    background: var(--jumpBgColor);
    padding: 0 20px;
    .MuiBox-root{
      border:none;
      .MuiTab-root{
        text-transform: none !important;
        color: var(--homeTabsColor);
      }
      .Mui-selected{
        color:var(--homeTabsActive);
        font-weight: 700;
      }
      .MuiTabs-indicator{
        background-color: var(--homeTabsActive);
      }
      .MuiTabPanel-root{
        padding: 8px 0;
        .tab-panel-item{
          padding: 8px 0;
          color: var(--fontColor);
          border-bottom: 1px var(--forumGuidesThColor) solid;
          p{
            display: inline-block;
            cursor: pointer;
          }
          span{
            display: inline-block;
            padding: 0 10px;
            height: 28px;
            line-height: 28px;
            border-radius: 5px;
            font-size: 13px;
            font-weight: normal;
            background: var(--tabActiveBgColor);
            color: var(--tabActiveColor);
            border-radius: 5px;
            margin-left:16px;
          }
        }
      }
    }
    
  }
}